body {
    background-color: white;
}
main {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Lora', serif;
    font-size: 20px;
}

.larghezza-sezioni {
    max-width: 1440px;
    margin: auto;
}

.stile-h2 {
    font-size: 25px;
    font-weight: bold;
}

.height-100 {
    height: 100%;
}

.cta {
    height: 50px;
    width: 185px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: $sfondo-beige;
    margin-top: 30px;
    color: $testi-marroni;
    line-height: 50px;
    border-radius: 30px;
    text-transform: uppercase;
}

.altezza-logo {
    height: 64px;
}
