// jumbotrone immaginona

section.hero {
    height: 500px;
    // padding-right: 100px;
    background-image: url('/assets/images/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    div.jumbo {
        @extend .height-100;
        @extend .larghezza-sezioni;
    }
    div.text {
        @extend .height-100;
        color: $testi-bianchi;
    }
    h1 {
        font-size: 56px;
        font-family: "Redressed", cursive;
        line-height: 53px;
        margin-bottom: 10px;
        span {
            display: block;
        }
    }
    a {
        @extend .cta;

    }
}

// sezione immagine + testo

section.section-heading {
    // height: 500px;
    padding: 50px 0;
    div.wrap {
        @extend .larghezza-sezioni;
        div.img-wrap {
            @extend .height-100;
            img {
                object-fit: cover;
            }
        }
        div.testo-wrap {
            @extend .height-100;
            padding: 25px;
            h2 {
                @extend .stile-h2;
            }
            p {
                margin-top: 20px;
            }
            p:last-child {
                font-size: 16px;
                i {
                    margin-left: 10px;
                }
            }
        }
    }
}

// grid section titolo
section.grid-section{
    // height: 100px;
    div.wrap {
        @extend .larghezza-sezioni;
        @extend .height-100;
        h2 {
            @extend .stile-h2;
        }
    }
}

section.list-item {
    padding: 50px 0;
    div.wrap {
        @extend .larghezza-sezioni;
        div.box2 {
            margin-top: 45px;

        }
    }
}
