
section.hero {
    height: 500px;
    // padding-right: 100px;
    background-image: url('/assets/images/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    div.jumbo {
        @extend .height-100;
    }
    div.text {
        @extend .height-100;
        color: $light-text;
    }
    h1 {
        font-size: 56px;
        font-family: "Redressed", cursive;
        line-height: 53px;
        margin-bottom: 10px;
        span {
            display: block;
        }
    }
    p {
        font-size: 30;
    }
}

// /Users/marziafata/Documents/lavoro/prova-jigsaw/source/assets/images/hero.jpg

section.section-heading {
    height: 300px;
    background-color: lightblue;
    div.img {
        height: 300px;
        background-color: grey;
    }
    div.testo {
        height: 300px;
        background-color: blue;
    }
}

section.grid-section{
    background-color: rosybrown;
    height: 50px;
}

section.list-item {
    background-color: burlywood;
    div.box {
        height: 100px;

    }
}
